//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Lato";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1100;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
@import "popup.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

.wrapper {
	@include flexbox();
	flex-wrap: wrap;
}

.mainblock {
	flex: 1 1 auto;
	position: relative;
	@include flexbox();
	justify-content: center;
	// align-items: center;
	text-align: center;
	padding: 50px 0;
	@media screen and (max-width: $md3+px), screen and (max-height: 600px) {
		padding: 20px 0;
	}
	&__content {
		position: relative;
		z-index: 1;
		flex: 1 1 auto;
		.container {
			height: 100%;
			@include flexbox();
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__logo {
	}

	&__text {
		color: #fff;
		position: relative;
		padding: 0 0 45px 0;
		margin: 30px 0;
		&:after {
			content: "";
			width: 105px;
			height: 2px;
			background-color: #fff;
			position: absolute;
			left: 50%;
			margin: 0 0 0 -52.5px;
			bottom: 0;
		}
	}
	&__title {
		/* Text style for "Clear, sma" */
		font-size: 34px;
		line-height: 40px;
		font-weight: 900;
		letter-spacing: 5.43px;
		line-height: 40px;
		margin: 0 0 10px 0;
		text-transform: uppercase;

		@media screen and (max-width: $md3+px), screen and (max-height: 600px) {
			font-size: 25px;
			line-height: 30px;
		}
	}

	&__subtitle {
		font-size: 26px;
		font-weight: 400;
		letter-spacing: 4.15px;
	}

	&__footer {
		@include flexboxinline();
		flex-direction: column;
	}

	&__btn {
		margin: 0 0 60px 0;
		@media screen and (max-width: $md3+px), screen and(max-height: 660px) {
			margin: 0 0 30px 0;
		}
	}

	&__arrow {
		position: relative;
		animation: arrow 2s infinite ease;
	}

	&__image {
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
}

@keyframes arrow {
	0% {
		top: 0;
	}
	50% {
		top: 13px;
	}
	100% {
		top: 0;
	}
}

//====================================================================================================
.content {
	min-width: 100%;
	background-color: #fff;
	position: relative;
	z-index: 50;
}
//====================================================================================================

.menu {
	padding: 22px 0;
	border-bottom: 1px solid #f2f2f2;
	&_mb {
		margin: 0px 0px 130px 0px;
		@media (max-width:$md2+px){
			margin: 0px 0px 50px 0px;
		}
		@media (max-width:$md3+px){
			margin: 0px 0px 30px 0px;
		}
	}
	@media (max-width: $md4+px) {
		padding: 22px 0 12px 0;
	}
	&__items {
	}

	&__list {
		@include flexbox();
		justify-content: center;
		align-items: center;
		li {
			text-align: center;
			margin: 0 25px;
			@media (max-width: $md3 +px) {
				margin: 0 15px 10px 15px;
			}
			@media (max-width: $md3 +px) {
				flex: 0 1 25%;
			}
		}

		@media (max-width: $md4+px) {
			flex-wrap: wrap;
		}
	}

	&__link {
		color: #3c3c3c;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 700;
		@include anim(0.3s, 0s);
		&:hover {
			color: #ada074;
		}
		&_act {
			color: #ada074;
		}
	}
}

//====================================================================================================

.about {
	padding: 0px 0px 60px 0px;
	@media (max-width:$md3+px){
		 padding: 0px 0px 10px 0px; 
	}
	&__header-block {
		margin: 0px 0px 65px 0px;
		@media (max-width:$md3+px){
			margin: 0px 0px 30px 0px; 
		}
	}

	&__body {
		text-align: center;
		margin: 0 auto;
		max-width: 900px
	}

	&__row {
		@include flexbox();
		margin: 0 -15px;
		@media (max-width:$md3+px){
			 display: block; 
		}
	}

	&__column {
		margin: 0px 0px 30px 0px;
		flex: 0 1 33.333%;
		padding: 0 15px;
	}

	&__item {
		text-align: center;
		max-width: 260px;
		@media (max-width:$md3+px){
			 max-width: none; 
		}
	}

	&__icon {
		border-radius: 50%;
		border: 1px solid #f2f2f2;
		width: 92px;
		height: 92px;
		@include flexboxinline();
		justify-content: center;
		align-items: center;
		margin: 0px 0px 40px 0px;
		&_r {
			img{
				position: relative;
				left: 5px;
			}
		}
		@media (max-width:$md3+px){
			 margin: 0px 0px 15px 0px; 
		}
	}

	&__title {
		margin: 0px 0px 33px 0px;
		font-size: 22px;
		text-transform: uppercase;
		letter-spacing: 3.52px;

		@media (max-width:$md2+px){
			font-size: 18px;
			margin: 0px 0px 25px 0px;
		}
		@media (max-width:$md3+px){
			 margin: 0px 0px 15px 0px; 
		}
		
	}

	&__text {
		color: #868585;
		font-size: 14px;
		font-weight: 300;
		line-height: 26px;
	}
}

//========================================================================================================================================================

.portfolio {
	background-color: #F3F3F3;
	padding: 105px 0px 60px 0px;
	@media (max-width:$md2+px){
		padding: 50px 0px 40px 0px;
	}
	&__header-block {
		margin: 0px 0px 50px 0px;
		@media (max-width:$md2+px){
			margin: 0px 0px 30px 0px;
		}
		@media (max-width:$md3+px){
			margin: 0px 0px 20px 0px;
		}

	}

	&__filter {
		margin: 0px 0px 135px 0px;
		@media (max-width:$md2+px){
			margin: 0px 0px 50px 0px;
		}
		@media (max-width:$md3+px){
			margin: 0px 0px 20px 0px;
		}

	}

	&__items {
		@include flexbox();
		margin: 0 -15px;
		flex-wrap: wrap;
	}

	&__column {
		max-width: 50%;
		flex: 0 1 50%;
		padding: 0 15px;
		margin: 0px 0px 30px 0px;
		@media (max-width:$md3+px){
			 flex: 1 1 100%; 
			 margin: 0px 0px 20px 0px;
		}
	}

	&__item {
		img{max-width: 100%;}
		
	}

	&__footer {
		text-align: center;
		padding: 35px 0px 0px 0px;
	}

	&__btn {
	}
}

.filter {

	&__list {
		@include flexbox();
		justify-content: center;
		align-items: center;
	}

	&__item {
		color: #3c3c3c;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 25px;
		cursor: pointer;
		&.active{
			color: #ada074;
		}
		@media (max-width:$md3+px){
			margin: 0 15px;
		}
	}
}

//========================================================================================================================================================


.partners {
	background: url('../img/partners/bg.png') center / cover no-repeat;
	padding: 100px 0 70px 0;
	@media (max-width:$md3+px){
		padding: 30px 0 0px 0; 
	}
	
	&__title {
		font-size: 30px;
		color: #fff;
		text-align: center;
		font-weight: 300;
		margin: 0px 0px 90px 0px;
		@media (max-width:$md3+px){
			 margin: 0px 0px 30px 0px; 
		}
	}

	&__items {
		flex-wrap: wrap;
		@include flexbox();
		justify-content: center;
		text-align: center;
		align-items: center;
	}

	&__column {
		padding: 0 50px;
		margin: 0px 0px 30px 0px;
		@media (max-width:$md3+px){
			  padding: 0 30px;
		}
	}

	&__item {
	}
}

//========================================================================================================================================================

.contacts {

	padding: 180px 0px 80px 0px;
	@media (max-width:$md2+px){
		padding: 80px 0px 50px 0px;
	}
	@media (max-width:$md2+px){
		padding: 30px 0px 30px 0px;
	}
	&__header-block {
		margin: 0px 0px 120px 0px;
		@media (max-width:$md2+px){
			margin: 0px 0px 50px 0px;
		}
		@media (max-width:$md2+px){
			margin: 0px 0px 30px 0px;
		}
	}

	&__body {
		@include flexbox();


		@media (max-width:$md3+px){

			  display: block;

		}
	}

	&__column {
		flex: 0 1 50%;
		padding: 0 15px;
	}

	&__form {
		text-align: right;
		@media (max-width:$md3+px){
			 text-align: left; 
			 margin: 0px 0px 30px 0px;
		}
	}

	&__content {
		max-width: 260px;
		@media (max-width:$md3+px){
			max-width: none; 

		}
	}

	&__text {

		font-size: 14px;
		font-weight: 300;
		line-height: 26px;
		margin: 0px 0px 35px 0px;
	}

	&__name {
		font-size: 14px;
		font-weight: 700;
		margin: 0px 0px 25px 0px;
	}

	&__social {
	}

	&__email {
		font-size: 14px;
		a{
			color: #000;
			font-weight: 700;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.header-block {

	&__title {
	}
}
.form-contacts {

	&__body {
		display: inline-block;
		width: 100%;
		max-width: 385px;
		@media (max-width:$md3+px){
			max-width: none;
			display: block;
		}
	}

	&__row {
		@include flexbox();
		margin: 0 -15px 70px -15px;
		@media (max-width:$md3+px){
			margin: 0 -15px 30px -15px;
		}
		@media (max-width:$md4+px){
			 display: block; 
		}
	}

	&__column {
		flex: 0 1 50%;
		padding: 0px 15px;
		@media (max-width:$md4+px){
			&:first-child{
				margin: 0px 0px 30px 0px;
			}
		}
	}

	&__input {
	}

	&__label {
		font-size: 14px;
		font-weight: 700;
		text-align-last: left;
		margin: 0px 0px 10px 0px;
		text-transform: uppercase;
	}
		&__btn.btn {
			margin: 35px 0px 0px 0px;
			@media (max-width:$md3+px){
				  display: block;
				  width: 100%;
			}
		}
}

.social {
	@include flexbox();
	margin: 0px 0px 15px 0px;
	&__item {
		margin: 0px 15px 0px 0px;
	}
}


//========================================================================================================================================================






//</ОСНОВНОЙ БЛОК>====================================================================================================
