
/*! ************* CCS RESET ************* */
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Убираем внутренние отступы */
ul[class],
ol[class] {
padding: 0;
}
/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
min-height: 100vh;
 scroll-behavior: smooth;
  line-height: 1;
}
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}
/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}
/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*! ************* \|YOUR CSS|/ ************* */

@font-face {font-family: "Marvin";
  src: url("../fonts/marvin/Marvin-Round.eot");
  src: local("☺"), url("../fonts/marvin/Marvin-Round.woff") format("woff"), url("../fonts/marvin/Marvin-Round.ttf") format("truetype"), url("../fonts/marvin/Marvin-Round.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

html body {
  background: url(../img/bg/bmw-fary-noch1.jpg) center / cover no-repeat fixed;
  font-family: Marvin, sans-serif;

  font-size: 16px;
  line-height: 1.5;
  min-width: 280px;
  background-color: rgb(100, 100, 100);
  min-height: 400px;
  
}

img {
  display: inline-block;
}

a {
  transition: 0.3s ease-out;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



/*...................................

            HEADER

................................... */

.header {
  background: url('../img/bg/bg.png') center / cover no-repeat ;
  height: 100vh;
  color:rgb(255, 187, 0);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 400px;
}

.header__title {
  font-size: 85px;
  line-height: 65px;
  margin-bottom: 30px;
  margin-top: -70px;
  font-weight: 700;
  text-shadow:  0 10px 2px rgba(0, 0, 0, 0.7);
}

.header__slogan {
  font-size: 42px;
  line-height: 90px;
  color: rgb(0, 38, 255);
  font-weight: 600;
}

#slash {
  color: yellow;
}

.header__slogan2 {
  font-size: 50px;
  line-height: 70px;
  color: red;
  font-weight: 600;
}

.header__arrow {
  font-size: 58px;
  position: absolute;
  bottom: 50px;
  z-index: 1000;
  color: #fff;
}

/*...................................

            PORTFOLIO

................................... */

.container {

}

.portfolio {

}

.portfolio-item {

}


.title {
  font-size: 46px;
  margin-bottom: 60px;
  font-family: "Merriweather", serif;
  text-align: center;
  color: greenyellow;
  margin: 0px 0px 200px 0px;
  padding-top: 100px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex:0 1 auto;
  margin: 0px 0px 100px 0px;
}
.column {
  flex: 0 0 300px;
  position: relative;
  transition:all 1s ease 0s;
}
.column:hover{
  transform: scale(1.1);
}
.portfolio-item__img a{
  width: 100%;
  height: 100%;
  position:absolute;
  opacity:0;
}
.portfolio-item__img {
  border-radius: 3px;
  min-height:250px;
  flex: 0 1 300px;
  margin: 0px 0px 20px 0px;
  
}

.img_1 {
  background: url(../img/portfolio/sportkar_drift_neo.jpg) center / cover no-repeat;
}

.img_2 {
  background: url(../img/portfolio/Internet-Speed-Test.jpg) -40px / cover no-repeat;
}

.img_3 {
  background: url(../img/portfolio/binary.png) center / cover no-repeat;
}


.portfolio-item__title {
  text-align: center;
  font-size: 26px;
  line-height: normal;
  margin-bottom: 5px;
}

.portfolio-item__title a {
  text-align: center;
  text-decoration: none;
  color: aqua;
}

.portfolio-item__title a:hover {
  color: deepskyblue;
  border-color: rgba(0, 191, 255, 0.3);
}

.portfolio-item__text {
  margin-top: 0px;
  margin-bottom: 15px;
  color: red;
}

.cols {
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  padding-left: 27px;
  padding-right: 27px;
  text-align: center;
}

/*...................................

            PORTFOLIO SITES

................................... */

.button-back {
  font-weight: 700;
  display: inline;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 10px 23px 10px 23px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s ease-out;
  margin-left: 1%;
}

.button-back:hover {
  color: #061634;
  background-color: #fff;
}

/*...................................

            FOOTER

................................... */

.footer {
  background-color: #061634;
  color: #6479a2;
  padding-top: 90px;
  padding-bottom: 190px;
  text-align: center;
  filter: opacity(0.95);
}

.footer p {
  margin-top: 0px;
  margin-bottom: 15px;
}

p.footer__name {
  font-size: 28px;
  margin-bottom: 10px;
  line-height: normal;
  font-family: "Merriweather", serif;
}

p.footer__social {
  color: #fff;
}

p.footer__social-icons {
  color: #fff;
  font-size: 32px;
}

p.footer__social-icons a {
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
}

p.footer__social-icons a:last-child {
  margin-right: 0;
}

p.footer__social-icons a:hover {
  color: #ffe400;
}

.button {
  font-weight: 700;
  display: inline-block;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 10px 23px 10px 23px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  transition: 0.3s ease-out;
}

.button:hover {
  color: #061634;
  background-color: #fff;
}

.upd_text {
  font-size: 20px;
  color: greenyellow;
  margin-top: 300px;
}

/*...................................

            MEDIA

................................... */
/**/
/*при ширине экрана 1160px и менее */
@media (max-width: 1160px) {
  html body {
    background: url(../img/bg/bmw-fary-noch3.jpg) center / cover no-repeat fixed;
  }
 
  .row{
    display:block;
   margin-bottom:20px;
  }

  .column{
    max-width:300px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .cols {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
    padding-left: 27px;
    padding-right: 27px;
    text-align: center;
  }
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header__title {
    font-size: 38px;
    line-height: 48px;
    margin-bottom: 15px;
  }
  .header__slogan {
    font-size: 26px;
    line-height: 30px;
  }

  .header__slogan2 {
    font-size: 22px;
    line-height: 70px;
  }
  .portfolio {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .title {
    font-size: 36px;
    margin: 0px 0px 70px 0px;
    padding-top: 20px;
  }
  .footer {
    padding-top: 70px;
    padding-bottom: 60px;
  }
  .button-back {
    font-size: 50%;
    padding: 1%;
    letter-spacing: 1px;
  }
  .portfolio-item__img:hover {
    transform: scale(1.05);
  }
  .portfolio-item__img:focus-within {
    transform: scale(1.1);
  }

}
@media (max-width: 445px) {
  html body {
    background: url(../img/bg/bmw-fary-noch2.jpg) center / cover no-repeat fixed;
  }
}
