//====================================================================================================

.header-wrapper{
	
	position: fixed;
	width: 100vw;
	height: 70px;
	touch-action: none;
	z-index: 20;
	&._black{

		background-color: #000;
		.menu__icon{
			color: #fff;
			span{
				background-color: #fff;
			}
		}
		.header-tabs {
			&__item {
				color: #fff;
			}
		}
	}
}
.header-container{
	position: relative;
}
.header {
	display: flex;
	align-items: center;
	overflow: hidden;
	height: 54px;
	margin: 9px 0px 0px 0px;
	@media (max-width:$md4+px){
		 margin: 0px 0px; 
	}
	@media (max-height: 500px) {
		margin: 0px 0px; 

	}
	z-index: 20;
	position: relative;
	overflow: hidden;
	
	&__logo {
		width: 182px;
		height: 53px;
		z-index: 21;
		
		img{
			width: 100%;
			object-fit: cover;
			display: none;
			&.active{
				display: block;
			}
		}
		@media (max-width:$md4+px){
			width: 104px;
			height: 31px;
		}
		@media (max-height: 500px) {
			width: 104px;
			height: 31px;
		}
	}
	
}
.header-tabs {
	
	margin: 0px 0px 0px 220px;
	display: flex;
	@media (max-width:$md1+px){
		 margin: 0px 0px 0px 67px; 
	}
	@media (max-width:$md2+px){
		display: none;
	}
	&__item {
		color: #000;
		margin: 0px 50px 0px 0px;
		min-width: 80px;
		font-size: 12px;
		font-weight: 700;
		text-transform:uppercase;
		letter-spacing: 0.05em;
		cursor: pointer;
		&:last-child{
			margin: 0px 0px 0px 0px;
		}
		@media (max-width:$md2+px){
			display: block;
			margin: 20px 0 0px 0px;
			font-size: 16px;
			
			&:last-child{
				margin: 20px 0 0px 0px;
			}
		}
		
	}
}
.header-social {
	margin: 0px 0px 0px 200px;
	justify-self: flex-end;
	min-width: 140px;
	@media (max-width:$md1+px){
		margin: 0px 0px 0px auto;
	}
	@media (max-width:$md2+px){
		margin: 0 0 0 auto;
	}
	@media (max-width:$md4+px){
		 display: none; 
	}
	&__item {
		margin: 0px 30px 0px 0px;
		&:last-child{
			margin: 0px 0px 0px 0px;
		}
	}
}

.menu-block-content {
	padding: 20px 0px 0px 39px;
	a{
		color: #fff;
	}
	p{
		margin: 10px 0px 0px 0px;
		font-size: 16px;
		line-height: 19px;
		@media (max-width:$md3+px){
			font-size: 14px;
			line-height: 17px; 
		}
	}
	&__title {
		letter-spacing: 0.05em;
		text-transform: uppercase;
		font-weight: 700 !important;;
		margin: 50px 0px 0px 0px !important;
		font-size: 12px !important;
		line-height: 15px !important;
	}
	

	&__mail {
		color: #fff;
		margin: 10px 0px 0px 0px;
	}

	&__button {
		margin: 50px 0px 0px 0px;
		width: 189px;
		height: 50px;
		
		p{
			margin: 0px 0px;
			font-weight: 700;
			line-height: 20px;
			letter-spacing: 0.01em;
		}
	}
	
}
.menu-block-content-legal{
	margin: 50px 0px 0px 0px;

	&__text{
		font-weight: bold;
		font-size: 12px;
		line-height: 21px;
		text-decoration: underline;
		display: inline-block;
			transition: all 0.3s ease;
			&:hover{
				color: rgb(151, 151, 151);
				
			}
		p{
			
		}
	}
}


.menu-block-content-social {
	margin: 50px 0px 0px 0px;
}


.blur-block{
	position: fixed;
	width: 100%;
	height: 100%;
	
	z-index: -20;
	display: flex;
	justify-content: end;
	
	
	transition:backdrop-filter 0.5s ease;

	&__close{
		position: absolute;
		height: 100%;
		width: 100%;
	}
	&.active{
		left: 0;
		z-index: 50;
		backdrop-filter: blur(30px);
		background: rgba(0, 11, 17, 0.01);
	
	}
}
.menu-block{
	
	position: fixed;
	width: 400px;
	height: 100%;
	background: #000B11;
	border-radius: 30px 0px 0px 30px;
	z-index: 50;
	transition: all 0.5s ease;
	right: -100%;
	@media (max-width:$md3+px){
		 max-width: 302px; 
	}
	@media (max-height: 500px) {
		max-width: 302px; 
	}
	&.active{
		right: 0;
	}

	// &__menu {
	// 	width: 32px;
	// 	height: 32px;
	// 	display: flex;
	// 	align-items: center;
	// 	position: relative;
	// 	z-index: 20;
	// 	margin: 40px 30px 0px auto;
	// 	display: none; 
	// 	@media (max-width:$md35+px){
	// 		display: block; 
	// 	}
	// }

	// &__icon-menu{
	// 	display: block;
	// 	position: relative;
	// 	width:36px;
	// 	height: 28px;
	// 	cursor: pointer;
	// 	z-index: 25;
	// 	color: #fff;
	// 	span{
	// 		top: 16px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #fff;
	// 		&:first-child{top: 0px;@include rotate(-45deg);top: 13px;}
	// 		&:last-child{top: auto;bottom: 0px;@include rotate(45deg);bottom: 13px;}
	// 		@include scale(0);
	// 	}
		
	// 	}
}

//====================================================================================================

	.menu {
		width: 32px;
		height: 100%;
		margin: 0px 0px 0px 50px;
		display: flex;
		align-items: center;
		position: relative;
		z-index: 20;
		color: #fff;
		@media (max-width:$md2+px){
			
		}
		
		@media (max-width:$md4+px){
			margin: 0px 0px 0px auto;
		
		}
	}
	.icon-menu{
		display: block;
		position: relative;
		width:32px;
		height: 24px;
		cursor: pointer;
		z-index: 25;
		color: #000;
		span{@include anim(0.3s,0s);top: 12px;left: 0px;position: absolute;width: 100%;height: 1px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
			&.active{
				span{@include scale(0);
					&:first-child{@include rotate(-45deg);top: 11.5px;}
					&:last-child{@include rotate(45deg);bottom: 11.5px;}
				}
			} 
	}

