//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

@font-face {font-family: "Gilroy";
	src: url('fonts/gilroy/gilroy-bold.eot');
	src: local("☺"), 
	url("../fonts/gilroy/gilroy-bold.woff") format("woff"), 
	url("../fonts/gilroy/gilroy-bold.ttf") format("truetype"), 
	url("../fonts/gilroy/gilroy-bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}
@font-face {font-family: "Gilroy";
	src: url('fonts/gilroy/gilroy-regular.eot');
	src: local("☺"), 
	url("../fonts/gilroy/gilroy-regular.woff") format("woff"), 
	url("../fonts/gilroy/gilroy-regular.ttf") format("truetype"), 
	url("../fonts/gilroy/gilroy-regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {font-family: "Gilroy";
	src: url('fonts/gilroy/gilroy-regularitalic.eot');
	src: local("☺"), 
	url("../fonts/gilroy/gilroy-regularitalic.woff") format("woff"), 
	url("../fonts/gilroy/gilroy-regularitalic.ttf") format("truetype"), 
	url("../fonts/gilroy/gilroy-regularitalic.svg") format("svg");
	font-weight: normal;
	font-style: italic;
}
@font-face {font-family: "Gilroy";
	src: url('fonts/gilroy/gilroy-light.eot');
	src: local("☺"), 
	url("../fonts/gilroy/gilroy-light.woff") format("woff"), 
	url("../fonts/gilroy/gilroy-light.ttf") format("truetype"), 
	url("../fonts/gilroy/gilroy-light.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}
//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: Gilroy;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 330px;
$maxWidth: 1920;
$maxHeight:842;
$mw: 1168;
$md1: $mw + 12;
$md2: 990;
$md3: 767.98;
$md35: 680;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";

body {

	background-color: #000B11;
	color: #fff;
	font-size: 16px;
	&.lock {
		overflow: hidden;
	}
	min-width: 360px;
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
	padding: 0px 0px;
	min-width: 360px;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	min-width: 360px;
	@media (max-width: $md1+px) {
		max-width: 856px;
	}
	@media (max-width: $md2+px) {
		max-width: 556px;
	}
	@media (max-width: $md35+px) {
		max-width: none;
		padding: 0 16px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
@import "popup.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================


.main-block {
	position: relative;
	min-width: 330px;
	height: 100%;
	
	&__head-img{
		position: fixed;
		z-index: 10;
		height: 110px;
		width: 100%;
		
		background: url('../img/bumaga-top01.png') 50% 80% / cover no-repeat;

		@media (max-width:$md1+px){
			background: url('../img/bumaga-top02.png') 50% 70% / cover no-repeat;
		}
		@media (max-width:$md2+px){
			height: 100px;
			background: url('../img/bumaga-top03.png') 50% 88% / cover no-repeat;
		}
		@media (max-width:$md4+px){
			height: 75px;
		}
		@media (max-height: 500px) {
			height: 75px;
		}
		
		img{
			// position: absolute;
			// object-fit: cover;
			// height: 90px;
			// width: 100%;
		}
	}
	&._min{
		min-height: 750px;
		overflow: auto;
		position: relative;
		height: 100%;
		overflow-x: hidden;
	
	}
	width: 100%;
	height:100vh;
	
	top: 0;
	left: 0;
		
		
}


// .pagination-container{
// 	position: absolute;
// 	height: 50px;
// 	left: auto;
// 	right: auto;
// 	top: 50vh;


// }

.main-slider {
	width: 100%;
	height: 100%;
	
	&__wrapper {
		
	}

	&__slide {
		overflow: hidden;
		&:first-child{
			overflow: visible;
		}
		min-height: 720px;
	}
	
	
	.swiper-pagination{
		
	}
	.swiper-pagination-bullet {
		
	
	}

	.swiper-pagination-fraction {}
	 .swiper-pagination-progressbar-fill {}
	.swiper-scrollbar {}
	 .swiper-scrollbar-drag {}

}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-zoom-container {
}
// .swiper-pagination {
// 	height: 230px;
// 	display: flex;
// 	flex-wrap: wrap;
// 	flex-direction: column;
// 	justify-content: space-between;
// 	width: 10px;
// 	left: 5px;
// 	position: absolute;
// 	@media (max-width:$md2+px){
// 		display: none; 
//    }
// }
// .swiper-pagination-bullet{
// 	background-color: rgba($color: #ffffff, $alpha: 0.3);
// 	width: 7px;
// 	height: 7px;
// }

	.swiper-button-prev {
	
	}
	.swiper-button-next {
	}

	
	/* авто ширина */
	/* .image-slider .swiper-slide {
	   width: auto;
	} */
	
	/* Мультирядность */
	/* .image-slider{
	   height: 700px;
	} */
	/* 100% - отступы слайдов (spaceBetween в js) */
	/* .image-slider .swiper-slide {
	   height: calc((100% - 30px) /2); 
	   overflow: hidden;
	} */
	
	/* Вертикальный слайдер*/
	/* .image-slider{
	   padding: 0px 0 0px 0;
	   height: 700px;
	} */

//====================================================================================================


.slide-1{
	
	height: 100%;
	
	
	&__img{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		
		height: calc(100vh * 9);
		width: 100%;
		
		background: url('../img/bg01.jpg') 50% 0 / cover no-repeat;
		
		
		@media (max-width:$md1+px){
			background: url('../img/bg02.jpg') 50% 0 / cover no-repeat;
		}
		@media (max-width:$md2+px){
			background: url('../img/bg03.jpg') 50% 0 / cover no-repeat;
		}
		@media (max-width:$md3+px){
			background: url('../img/bg04.jpg') 50% 0 / cover no-repeat;
			height: 100%;
		}
		@media (max-height: 720px) {
			
			height: 100%;	
		}
		// @media (max-width:$md1+px){
		// 	&-01{
		// 		display: none;
		// 	}
		// 	&-02{
		// 		display: block;
		// 	} 
		// }
		// @media (max-width:$md2+px){
		// 	&-01{
		// 		display: none;
		// 	}
		// 	&-02{
		// 		display: none;
		// 	} 
		// 	&-03{
		// 		display: block;
		// 	} 
		// }
		// @media (max-width:$md3+px){
		// 	&-01{
		// 		display: none;
		// 	}
		// 	&-02{
		// 		display: none;
		// 	} 
		// 	&-03{
		// 		display: none;
		// 	} 
		// 	&-04{
		// 		display: block;
		// 	} 
		// }
		img{
			// top: 0;
			// left: 0;
			// position: absolute;
			// z-index: -1;
			
			// height: calc(100vh * 9);
			// width: 100%;
			
			// @media (max-width:$md3+px){
			// 	height: calc(100%);
			// }
			// @media (max-height: 720px) {
			// 	height: calc(100% - 650px);
			// }
		}
	}
}

//====================================================================================================

.slide-2{
	height: 100%;

	min-height: 720px;
	
}

.slide-3{
	height: 100%;
	
min-height: 720px;
}

.slide-4{
	height: 100%;
min-height: 720px;
}

.slide-5{
	height: 100%;

	min-height: 720px;

}
.slide-6{
	height: 100%;
min-height: 720px;
	
}

.slide-7{
	height: 100%;
	min-height: 500px;
}
.slide-8{
	height: 100%;
min-height: 720px;
}
.slide-9{
	height: 100%;
	min-height: 720px;
}

.slide-1-block {

	height: 100%;
	padding: 210px 0px 0px 85px;
	padding-top: 27vh;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	@media (max-height: 800px) {
		padding-top: 20vh;	
	}
	@media (max-width:$md2+px){
		padding: 138px 0px 0px 0px;
		padding-top: 20vh;
	}
	@media (max-width:$md3+px){
		padding-top: 120px; 
	}
	@media (max-height: 720px) {
		padding-top: 120px; 
	}
	@media (max-width:$md35+px){
		 
	}
}
.slide-1-block-text {
		
		flex: 0 0 485px;
		margin: 0px 100% 0px 0px;
		max-height: 460px;
		@media (max-width:$md3+px){
			flex: 0 0 50%;
			margin: 0px 0px 0px 0px;
			
		}
		@media (max-width:$md35+px){
			flex: 0 0 100%; 
		}

		&__title {
			font-size: 40px;
			font-weight: 700;
			line-height: 50px;
			position: relative;
			z-index: 1;
			@media (max-width:$md2+px){
				font-size: 30px;  
				line-height: 37px;
			}
			@media (max-width:$md3+px){
				
			}
			
			@media (max-width:$md35+px){
				
			}
			span{
				color: #15A5F4;
			}
		}

		&__text {
			max-width: 360px;
			font-weight: 300;
			line-height: 19px;
			margin: 15px 0px 0px 0px;
			position: relative;
			z-index: 1;
			@media (max-width:$md2+px){
				font-size: 14px;
				line-height: 17px;
			}
		}

	
}
.slide-1-block-button {
	width: 100%;
	height: 50px;
	margin: 30px 0px 0px 0px;
	margin-top: 8vh;
	z-index: 2;
	@media (max-height: 720px) {
		margin: 30px 0px 0px 0px;
	}
	@media screen and (max-width: $md3+px) , screen and (max-height: 700px) {
		margin: 30px 0px 0px 0px;
	}
	@media (max-width:$md3+px){
		
	}
	@media (max-width:$md35+px){
	
	}
	a{
		display: inline-block;
		
	}
	&__button {
		width: 200px;
		height: 50px;
		background-color: #15A5F4;
		font-weight: bold;
		line-height: 20px;
		display: flex;
		align-items: center;
		justify-content:center;
		border-radius: 5px;
		transition: all 0.8s ease;
		
		&:hover{
			transform: scale(1.2);
		}
		@media (max-width:$md3+px){
			&:hover{
				transform: scale(1.1);
			}	  
		}
		@media (max-width:$md35+px){
		
		}
	}
}

.slide-1-block-img {
	background: url('../img/mainblock/phone01.png') 0 0 / cover no-repeat;
	width: 720px;
	height: 621px;
	position: absolute;
	right: -13%;
	top: 15vh;
	z-index: 2;
	@media (max-height: 800px) {
		top: 10vh;
		
	}
	@media (max-width:$md1+px){
		right: -32%;
	}
	@media (max-width:$md2+px){
		
		
		width: 444px;
		height: 504px;
		right: -20%;
		
		
	}
	@media (max-width:$md3+px){
		// position: absolute;
		// width: 400px;
		// right: 2%;
		// background: url('../img/mainblock/phone03.png') 0 0 / contain no-repeat;
		// padding: 500px 0px 0px 0px;
		// height: 400px;
		// margin: -4% 0px 0px 0px;
	
			top: 60px; 
	   
	}
	@media (max-width:$md35+px){
		background: url('../img/mainblock/phone02.png') center / contain no-repeat;
		position: static; 
		margin: 0px auto 0 auto;
		padding: 0 0px 0 0px;
		height: 380px;
		
	
	}
	
}
.slide-1-block-img-circles{
	width: 720px;
	height: 621px;
	position: absolute;
	right: -8%;
	top: 13vh;
	background: url('../img/mainblock/circles.png') center / cover no-repeat;
	z-index: 1;
	animation: rotate 30s 0s infinite linear;
	@media (max-height: 800px) {
		top: 8vh;
		
	}
	@media (max-width:$md1+px){
		right: -24%;
	}
	@media (max-width:$md2+px){
		width: 444px;
		height: 504px;
		right: -20%;
	}
	@media (max-width:$md3+px){
		 top: 50px; 
	}
	@media (max-width:$md35+px){
		left: 0;
		right: 0;
		margin: 250px 0 0px 0;
		width: 100vw;
		background-size: contain;
	}

	@keyframes rotate {
		0% {
			transform: rotate(0deg);
		}
		50%{
			transform: rotate(180deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
.slide-1-block-cards {
	margin:60px 0px 0px 0px;
	
	flex: 0 1 580px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	z-index: 2;
	@media (max-height: 720px) {
		margin:6vh 0px 0px 0px;
	}
	@media (max-width:$md2+px){
		margin: 10vh auto 0px auto;
		
	}
	@media (max-width:$md3+px){
	
	}
	@media (max-width:$md35+px){
		margin: 0px auto 0px auto;
	}
		&__card {
			position: relative;
			flex: 0 0 180px;
			height: 180px;
			border-radius: 10px;
			background: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
			backdrop-filter: blur(10px);
			border-left: 1px solid rgba($color: #fff, $alpha: 0.3);
			border-top: 1px solid rgba($color: #fff, $alpha: 0.2);
			border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
			border-right: 1px solid rgba($color: #fff, $alpha: 0.1);
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			
			@media (max-width:$md3+px){
				 &:first-child{
					 flex: 1 1 100%;
					 width: 100%;
				 } 
				 flex: 1 1 45%;
				 justify-content: center;
				 margin: 16px 0px 0px 0px;
				 height: 160px;
				&:last-child{
					margin-left: 8px;
				}
			}
		}

		&__title {
			font-weight: 300;
			font-size: 14px;
			line-height: 17px;
			text-align: center;
			margin: 25px 0px 0px 0px;
			max-width: 144px;
			letter-spacing: 0.01em;
			@media (max-width:$md3+px){
				max-width: 230px;
				margin: 21px 0px 0px 0px;
				font-size: 12px;
				line-height: 14px;
			}

			
		}
		.title-1{
				font-size: 14px;
				line-height: 17px;
				margin: 22px 0px 0px 0px;
		}
		.title-2{
			margin: 128px 0px 0px 0px;
		}
		.title-3{
			margin: 22px 0px 0px 0px;
		}

		&__img {

			
			position: absolute;

			flex: 1 1 100%;
			text-align: center;
			&._img-1{
				bottom: -6.2px;
			
			}
			&._img-2{
				top: 22px;
			}
			&._img-3{
				bottom: -4.3px;
			}
			
		}
}

//========================================================================================================================================================

.slide-2{
	padding: 100px 0px 0px 0px;
	overflow: visible !important;
	display: flex;
		align-items: center;
	
	@media (max-width: $md2+px) and (max-height: 950px) {
		padding: 100px 0px 0px 0px;
		align-items: flex-start;
	}
	
	@media (max-height: 780px) {
		padding: 100px 0px 0px 0px !important;
		align-items: flex-start !important;
	}
	
}
.slide-2-block {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		height: 100%;
		@media (max-width:$md2+px){
			
		}
		@media (max-width:$md3+px){
			
		}
		&__title {
			flex: 1 1 100%;
			font-weight: 700;
			font-size: 36px;
			line-height: 45px;
			text-align: center;

		}
		&__img {
		
			background: url('../img/slide-2/img.png') center / cover no-repeat;
			margin: 0px 0px 0px 0px;
			position: absolute;
			width: 732px;
			height: 732px;
			@media (max-width:$md2+px){
				background: url('../img/slide-2/img2.png') center / contain no-repeat;
				position: static;
				order: 4;
				
				margin: -25px 0px 0px 0px;
				height: 350px;
				width: 350px;
			}
			
			@media (max-width:$md4+px){
				margin: -30px 0px 0px 0px;  
			}
		}

		&__row {
			flex: 1 1 100%;
			display: flex;
			justify-content: space-between;
			position: relative;
			
			@media (max-width:$md2+px){
				margin: 0px 0px !important;
				flex-wrap: wrap;
				
			}
			@media (max-width:$md3+px){
				 flex: 1 1 100% !important; 
			}
			
		}
		.row-1 {
			margin: 50px 0px 0px 0px;
			justify-content: center;
		}
		.row-2 {
			margin: 170px 0px 0px 0px;
			flex: 0 0 890px;
			@media (max-width:$md2+px){
				flex: 0 0 400px;

				
			}
		}
		.row-3 {
			margin: 185px 0px 0px 0px;
			flex: 0 0 663px;
		}
		&__text {
			position: relative;
			flex: 0 0 300px;
			text-align: center;
			font-weight: 300;
			font-size: 14px;
			line-height: 17px;
			@media (max-width:$md2+px){
				flex: 0 1 380px;
				margin: 30px auto 0px auto;
			}
			@media (max-width:$md3+px){
				flex: 0 1 340px;
			}
		}

		&__dot{
			display: none;
			@media (max-width:$md2+px){
				 display: block;
				 position: absolute;
				top: -55px;
				left: 0;
				width: 100%;

			}
			img{

				
			}
		}
}
.dbtext {
}

//========================================================================================================================================================

.slide-3-block {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	@media(max-height: 760px) {
		padding: 110px 0px 0px 0px;
		@media (min-width:$md1+px){
			justify-content: flex-start;
			padding: 110px 0px 0px 0px;
		}
		@media (max-width:$md3+px){
			justify-content: flex-start;
			padding: 110px 0px 0px 0px;
		}
		
	}
	@media(max-height: 720px) {
		@media (max-width:$md3+px){
			padding: 20px 0px 0px 0px;  
		}

	}
	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 45px;
		text-align: center;

		@media (max-width:$md3+px){
			font-size: 30px;
			line-height: 37px;
			text-align: center;
			
		}
		
	}

	&__text {
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		max-width: 419px;
		margin: 20px auto 0px auto;
		
		@media (max-width:$md2+px){
			font-size: 14px;
			line-height: 17px;
			max-width: 328px;
		}
		@media (max-width:$md3+px){
			
			
		}
	}

	&__row {
		display: flex;
		justify-content: center;
	

		@media (max-width:$md3+px){
			display: block;
			
		}
	}

	&__img {
		width: 710px;
		height: 508px;
		
		
		background: url('../img/slide-3/phone01.png') 0 0 / cover no-repeat;
		@media (max-width:$md1+px){
			background: url('../img/slide-3/phone02.png') 0 0 / cover no-repeat;
			width: 600px;
			height: 432px;
		}
		@media (max-width:$md2+px){
			background: url('../img/slide-3/phone03.png') 0 0 / cover no-repeat; 
			width: 376px;
			height: 298px;
		}
		@media (max-width:$md3+px){
			background: url('../img/slide-3/phone04.png') 0 0 / cover no-repeat; 
			width: 350px;
			height: 450px;
			margin:30px auto 0 auto;
		}
	}

	&__itmes {
		padding:190px 0px 0px 0px;
		@media (max-width:$md1+px){
			padding:130px 0px 0px 0px; 
		}
		@media (max-width:$md2+px){
			padding:70px 0px 0px 0px; 
			max-width: 200px;
		}
		@media (max-width:$md3+px){
			padding:0px 0px 0px 0px; 
			margin: -130px auto 0 auto;
			max-width: 234px;
			
		}
	}

	&__item {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		text-decoration-line: underline;
		margin: 32px 0px 0px 0px;
		cursor: pointer;
		transition: all 0.5s ease;
		a{
			color: #fff;
		}
		&:hover{
			transform: scale(1.2) 
			translate(10px,0);
		
		}
		@media (max-width:$md2+px){
			margin: 15px 0px 0px 0px;
			&:first-child{
				max-width: 150px !important;
			}
			
		}
		@media (max-width:$md3+px){
			
			 margin: 15px 0px 0px 0px;

			 max-width: 100%;
			 text-align: center;
			 &:hover{
				transform: scale(1.1) 
				translate(-10px,0);
				
			}

			 &:first-child{
				max-width:100% !important;
				margin: 15px 0px 0px 25px;
				&:hover{
					transform: scale(1.1) 
					translate(10px,0);
					
				}
			 }
			 &:last-child{
				max-width: 175px;
				margin: 15px 0px 0px 35px;
				&:hover{
					transform: scale(1.1) 
					translate(10px,0);
					
				}
			 }
		}
	}
}

//========================================================================================================================================================

.slide-4-block {

	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media(max-height: 720px) {
		padding: 90px 0px 0px 0px;
		@media (min-width:$md1+px){
			justify-content: flex-start;
			padding: 90px 0px 0px 0px;
		}
		@media (max-width:$md3+px){
			justify-content: flex-start;
			padding: 65px 0px 0px 0px;
		}
	}
		@media(max-height: 760px) {
			@media (max-width:$md1+px){
				justify-content: flex-start;
				padding: 100px 0px 0px 0px;	  
			}
			@media (max-width:$md3+px){
				justify-content: flex-start;
				padding: 65px 0px 0px 0px;	  
			}
		}

	
	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 45px;
		text-align: center;

		@media (max-width:$md3+px){
			font-size: 30px;
			line-height: 37px;
			max-width: 328px;
			text-align: center;
			margin: 0 auto;
		}
	
	}

	&__text {
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		max-width: 419px;
		margin: 20px auto 0px auto;
		
		@media (max-width:$md2+px){
			font-size: 14px;
			line-height: 17px;
			max-width: 328px;
		}

	}

	&__cards {
		max-height: 500px;
		margin: 12vh 0px 0 0px;
		display: flex;
		justify-content: center;
		
		@media (max-width:$md1+px){
			
			margin: 2vh 0px 0 0px;
		}
		
		@media (max-width:$md2+px){
			flex-wrap: wrap;
			margin: 5vh 0px 0 0px;
		}
		@media (max-width:$md3+px){
			margin: 3vh 0px 0 0px;
		}
	}

	
}
.slide-4-block-card {
	width: 479px;
	max-height: 270px;
	padding: 40px;
	background: linear-gradient(94.47deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
	backdrop-filter: blur(10px);
	border-radius: 20px;
	border-left: 1px solid rgba($color: #fff, $alpha: 0.3);
	border-top: 1px solid rgba($color: #fff, $alpha: 0.2);
	border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
	border-right: 1px solid rgba($color: #fff, $alpha: 0.1);
	transition: all 0.5s ease;
	&:hover{
		transform: scale(1.05);
	}

	&:last-child{
		margin: 0px 0px 0px 21px;
	}
	@media (max-width:$md2+px){
		padding: 32px;

		&:last-child{
			margin: 2vh 0px 0px 0px;

		}  
	}

	@media (max-width:$md2+px){
		width: 330px;
	}
	@media (max-width:$md3+px){
		max-height: 210px;
		
	}
	
	&__title {
		font-weight: bold;
		font-size: 30px;
		line-height: 37px;
		margin: 0px 0px 0px 0px;
		@media (max-width:$md2+px){
			font-size: 24px;
			line-height: 30px;
		}
	}

	&__text {
		margin: 10px 0px 0px 0px;
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		max-width: 260px;
		min-height: 57px;
		@media (max-width:$md1+px){
			min-height: 0; 
		}
		@media (max-width:$md2+px){
			font-size: 12px;
			line-height: 14px;
			
		}
		
	}

	&__row{
		display: flex;
		margin: 55px 0px 0px 0px;

		@media (max-width:$md1+px){
			margin: 30px 0px 0px 0px;
		}
		@media (max-width:$md2+px){
			margin: 16px 0px 0px 0px;
		}
	}

	&__button {
		
	}

	&__img {
		width: 140px;
		height: 140px;
		margin: -111px 0px 0px 96px;


		@media (max-width:$md2+px){
			width: 68px;
			height: 68px;
			margin: -10px 0px 0px 27px;
		}
	}
	._l{
		background: url('../img/slide-4/cards/1.svg') 0 0 / cover no-repeat;
	}
	._r{
		background: url('../img/slide-4/cards/2.svg') 0 0 / cover no-repeat;
	}
}

//========================================================================================================================================================

.slide-5-block {
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	@media (max-height: 720px) {
		max-height: 720px;
		@media (max-width:$md2+px){
			max-height: 685px; 
		}
		@media (max-width:$md3+px){
			max-height: 843px; 
		}
	}
	&__row {		
		margin: 3vh 0px 0px 0px;
		display: flex;
		flex-direction: column;
		padding: 0px 0px 0px 85px;
		@media (max-width:$md1+px){
			 padding: 0px 0px; 
		}
		&:first-child{
			margin: 0px 0px;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 30px;
		line-height: 37px;

		@media (max-width:$md2+px){
			font-size: 24px;
			line-height: 30px;
		}
		@media (max-height:800px){
			font-size: 22px;
			line-height: 27px;
	}
	}

	&__text {
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		max-width: 573px;
		margin: 10px 0px 0px 0px;
		
		a {
			color: #ffffff;
			text-decoration: underline;

		}
		@media (max-width:$md2+px){
			font-size: 14px;
			line-height: 17px;
		}
	}

	// &__lightning{
	// 	position: absolute;
	// 	bottom: -5%;
	// z-index: 200;
	// 	text-align: center;
	// 	right: 40%;
	// 	left: 40%;
		


	// }
	
}

//========================================================================================================================================================

.slide-6-block {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	@media (max-height: 720px) {
		margin: 50px 0px 0px 0px;
	}
	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 45px;
		text-align: center;
		@media (max-width:$md3+px){
			font-size: 30px;
			line-height: 37px; 
		}
	}

	&__row {
	margin: 100px 0px 0px 0px;
		@media (max-width:$md3+px){
			margin: 8vh 0px 0px 0px;  
		}
		
	}

	&__slider {
		height: 290px;
		@media (max-width:$md3+px){
			height: 387px;
		}
	}

	&__wrapper {
		height: 100%;
	}

	&__slide {
		max-width: 580px;
		@media (max-width:$md3+px){
			width: 100vw;
		}
		&._min{
			display: flex;
			justify-content: center;
		}

	}
}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
	
}
.slide-6-block-card {
	position: relative;
	width: 580px;
	height: 100%;
	background: linear-gradient(94.47deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
	backdrop-filter: blur(10px);
	border-radius: 20px;
	border-left: 1px solid rgba($color: #fff, $alpha: 0.3);
	border-top: 1px solid rgba($color: #fff, $alpha: 0.2);
	border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
	border-right: 1px solid rgba($color: #fff, $alpha: 0.1);
	transition: all 0.5s ease;
	
	&:hover{
		transform: scale(1.05);
	}

	@media (max-width:$md3+px){
		width: 264px;  
	}
	&__row-top{
		display: flex;
		@media (max-width:$md3+px){
			 flex-wrap: wrap; 
		}
	}
	&__title {
		flex: 0 0 324px;
		margin: 40px 0px 0px 40px;
		font-weight: 700;
		font-size: 30px;
		line-height: 37px;

		@media (max-width:$md3+px){
			margin: 29px 0px 0px 16px;
			font-size: 20px;
			line-height: 25px; 
		}
	}

	&__price {
		margin: 45px 34px 0px auto;
		flex: 0 1 130px;
		height: 26px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 700;
	
		line-height: 20px;
		background: linear-gradient(94.47deg, #FFBD47 0%, #FF3EB5 49.48%, #492DDA 100%);
		backdrop-filter: blur(10px);
		border-radius: 5px;
		@media (max-width:$md3+px){
			flex: 0 1 115px;
			margin: 8px 0 0px 16px; 
			height: 23px;
			font-size: 14px;
			line-height: 17px;
		}
	}

	&__text {
		margin: 20px 0px 0px 40px;
		max-width:324px;
		font-weight: 300;
		
		line-height: 19px;
		max-height: 38px;
		@media (max-width:$md3+px){
			max-width:210px;
			max-height: 51px;
			margin: 15px 0px 0px 16px;
			font-size: 14px;
			line-height: 17px;
		}
	}

	&__row-bottom{
		display: flex;
		position: absolute;
		min-height: 200px;
		width: 100%;
		bottom: 0;
		align-items: flex-end;
		@media (max-width:$md3+px){
			 flex-wrap: wrap; 
			 min-height: 230px;
		}
	}

	&__button {
		margin: 65px 0px 0px 40px;
		max-width: 140px;
		position: absolute;
		bottom: 40px;
	
		@media (max-width:$md3+px){
			 margin: 33px 0px 15px 16px; 
			 top: 0;
		}
	}

	&__img {
		width: 245px;
		height: 173px;
		position: relative;
		margin: 0px 20px 0px auto;
		&._img-1{
			height: 173px;
		}
		&._img-2{
			height: 180px;
		}
		&._img-3{
			height: 180px;
		}
		&._img-4{
			width: 255px;
			height: 179px;

		}
		&._img-5{
			width: 195px;
			height: 200px;
		}

		@media (max-width:$md3+px){
			max-width: 188px; 
			max-height: 135px;
			margin: 0px auto 0px auto;
		}
		img{
			width: 100%;
			height: 100%;
			position: absolute;
			object-fit: contain;
		}

	}
	
}
.slide-6-block-pagination {
	display: flex;
	justify-content: center;
	margin: 50px 0px 0px 0px;
	&__button-prev {
		cursor: pointer;
	}

	&__button-next {
		margin: 0px 0px 0px 20px;
		cursor: pointer;
	}
}

//========================================================================================================================================================

.slide-7-block {
	height: 100%;
	display: flex;
flex-direction: column;
justify-content: center;

	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 45px;
		text-align: center;
		@media (max-width:$md3+px){
			font-size: 30px;
			line-height: 37px; 
		}
	}

	&__row {
		margin: 100px 0px 0px 0px;
		
	}

	&__slider {
		height: 290px;
		@media (max-width:$md3+px){
			 height: 193px; 
		}
	}

	&__wrapper {
		height: 100%;
	}

	&__slide {
		max-width: 580px;
		@media (max-width:$md3+px){
			max-width: 328px;
		}
	}
}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}
.slide-7-block-card {
	width: 580px;
	height: 100%;
	background: linear-gradient(94.47deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
	backdrop-filter: blur(10px);
	border-radius: 20px;
	border-left: 1px solid rgba($color: #fff, $alpha: 0.3);
	border-top: 1px solid rgba($color: #fff, $alpha: 0.2);
	border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
	border-right: 1px solid rgba($color: #fff, $alpha: 0.1);
	transition: all 0.5s ease;
	&:hover{
		transform: scale(1.05);
	}

	@media (max-width:$md3+px){
		width: 328px;  
	}
	&__row-top {
		display: flex;
		@media (max-width:$md3+px){
			 flex-wrap: wrap; 
		}
	}

	&__title {
		flex: 0 0 111px;
		margin: 40px 0px 0px 40px;
		font-weight: 700;
		font-size: 30px;
		line-height: 37px;

		@media (max-width:$md3+px){
			margin: 29px 0px 0px 16px;
			font-size: 24px;
			line-height: 30px;

		}
	}

	&__price {
		margin: 45px 34px 0px auto;
		flex: 0 1 130px;
		height: 26px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 700;
		
		line-height: 20px;
		background: linear-gradient(94.47deg, #FFBD47 0%, #FF3EB5 49.48%, #492DDA 100%);
		backdrop-filter: blur(10px);
		border-radius: 5px;
		@media (max-width:$md3+px){
			flex: 0 1 115px;
			margin: 30px 32px 0px auto; 
			height: 23px;
			font-size: 14px;
			line-height: 17px;
		}
	}

	&__text {
		margin: 10px 0px 0px 40px;
		max-width:324px;
		font-weight: 300;
		line-height: 19px;
		max-height: 38px;
		@media (max-width:$md3+px){
			max-width:210px;
			max-height: 51px;
			margin: 8px 0px 0px 16px;
			font-size: 14px;
			line-height: 17px;
		}
	}

	&__row-bottom {
		display: flex;
		@media (max-width:$md3+px){
			 flex-wrap: wrap; 
		}
	}

	&__button {
		margin: 94px 0px 0px 40px;
		max-width: 140px;
		@media (max-width:$md3+px){
			 margin: 33px 0px 0px 16px; 
		}
	}

	// &__img {
	// 	max-width: 245px;
	// 	max-height: 173px;
	// 	margin: -21px 30px 0px auto;
	// 	@media (max-width:$md3+px){
	// 		max-width: 188px; 
	// 		max-height: 135px;
	// 		margin: 16px auto 0px auto;
			
	// 	}
	// 	img{
	// 		max-width: 100%;
	// 		max-height: 100%;
			
	// 	}
	// }
}

.slide-7-block-pagination {
	display: flex;
	justify-content: center;
	margin: 50px 0px 0px 0px;
	&__button-prev {
		cursor: pointer;
	}

	&__button-next {
		margin: 0px 0px 0px 20px;
		cursor: pointer;
	}
}

//========================================================================================================================================================

.slide-8-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	min-height: 720px;
	@media (max-height: 720px) {
		margin: 70px 0px 0px 0px;
	}
	&__title {
		font-weight: bold;
		font-size: 36px;
		line-height: 45px;
		text-align: center;
		@media (max-width:$md3+px){
			font-size: 30px;
			line-height: 37px; 
		}
		@media (max-height: 800px) {
			@media (max-width:$md2+px){
				font-size: 30px;
				line-height: 37px;
			}
		}
	}

	&__row {
		display: flex;
		margin: 112px 0px 0px 0px;
		justify-content: center;
		@media (max-width:$md2+px){
			display: block;
			margin: 50px 0px 0px 0px;
		}
		@media (max-height: 800px) {
			@media (max-width:$md2+px){
			margin: 0px 0px 0px 0px;
			}
		}
		@media (max-height: 720px) {
			margin: 100px 0px 0px 0px;
			@media (max-width:$md1+px){
				margin: 60px 0px 0px 0px;
			}
			@media (max-width:$md2+px){
				margin: 70px 0px 0px 0px;
			}
			@media (max-width:$md3+px){
				margin: 50px 0px 0px 0px;
			}
			
		}
		
	}

	&__item {
		flex: 0 1 324px;
		text-align: center;
		margin: 0px 0px 0px 76px;
		&:first-child{
			margin: 0px 0px;
		}
		@media (max-width:$md1+px){
			 flex: 0 1 280px; 
			 margin: 0px 0px 0px 40px;
		}
		@media (max-width:$md2+px){
			max-width: 280px;
			margin: 3vh auto 0px auto;
			&:first-child{
				margin: 3vh auto 0px auto;
			}
		}
		
		@media (max-height: 800px) {
			
			@media (max-width:$md2+px){
				margin: 20px auto 0px auto; 
		   }
		}
		@media (max-height: 720px) {
			@media (max-width:$md2+px){
				margin: 50px auto 0px auto; 
			}
		}
	}


	&__img {
		width: 100px;
		height: 100px;
		margin: 0 auto;
		img{
			width: 100%;
			height: 100%;

		}
		&._img-2{
			width: 100px;
			height: 124px;
			margin: -6px auto 0 auto;
			@media (max-width:$md2+px){
				margin: 0px auto 0 auto;
			}
		}
	
		
	}

	&__text {
		margin: 30px 0px 0px 0px;
		
		font-weight: 300;
		line-height: 24px;
		@media (max-width:$md2+px){
			font-size: 14px;
			line-height: 21px;
			margin: 20px 0px 0px 0px;
		}
		@media(max-height: 800px) {
			margin: 10px 0px 0px 0px;
		}
		@media (max-height: 720px) {
			margin: 20px auto 0px auto;
		}
		&._text-2 {
			margin: 14px 0px 0px 0px;
			@media(max-height: 800px) {
				margin: 10px 0px 0px 0px;
			}
		}
		a{
			font-weight: 700;
			color: #15A5F4;
			text-decoration: underline;
		}
		span{
			font-weight: 700;
		}
	}
}


//========================================================================================================================================================

.slide-9-block {
	// background: url('../img/slide-9/bg01.png') center / cover no-repeat;
	// @media (max-width:$md1+px){
	// 	background: url('../img/slide-9/bg02.png') center / cover no-repeat;
	// }
	// @media (max-width:$md3+px){
	// 	background: url('../img/slide-9/bg03.png') center / cover no-repeat; 
	// }
	// @media (max-width:$md4+px){
	// 	background: url('../img/slide-9/bg04.png') center / cover no-repeat; 
	// }
	display: flex;
	align-items: center;
	height: 67.6vh;
	padding: 20px 0px 0px 0px;
	@media (min-height: 800px) {
		height: 70vh;
	}
	@media (max-height: 720px) {
		height: 700px;
	}
		&__content{
			height: 100%;
			display: flex;
			flex-direction: column;

		}
		&__icon {
		width: 98px;
		height: 98px;
		margin: 0 auto;
		background: url('../img/slide-9/icon01.svg') 0 0 / contain no-repeat;
		@media (max-width:$md3+px){
			width: 132px;
			height: 132px;
		}
		}

		&__title {
			max-width: 372px;
			font-weight: 700;
			font-size: 30px;
			line-height: 37px;
			text-align: center;
			margin: 20px auto 0px auto;
			@media (max-width:$md3+px){
				margin: 16px auto 0px auto; 
			}
		}

	
		&__button {
			width: 125px;
			margin: 32px auto 0px auto;
			transition: all 1s ease;
				&:hover{
					transform: scale(1.1);
				}
			a{
				display: block;
				width: 100%;
				height: 100%;
				color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				
			}
			@media (max-width:$md3+px){
				 margin: 30px auto 0px auto; 
			}
		}

		
}

//========================================================================================================================================================
.footer{
	color: #000;
	height: 32.4vh;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	padding: 10px 0px 20px 0px;
	min-height: 300px;
	
	@media (max-height: 720px) {
		height: 300px;
		justify-content: flex-start;
		padding: 100px 0px 0px 0px;
	}
	@media (max-width:$md3+px){
		 height: 350px; 
	}
	&__img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: url('../img/bumaga-bottom01.png') 50% 10% / cover no-repeat;
		@media (max-width:$md1+px){
			background: url('../img/bumaga-bottom02.png') 50% 0 / cover no-repeat;	  
		}
		@media (max-width:$md2+px){
			background: url('../img/bumaga-bottom03.png') 50% 0 / cover no-repeat;
		}
		@media (max-width:$md3+px){
			background: url('../img/bumaga-bottom04.png') 50% 0 / cover no-repeat; 
		}
	}
	
	
}
.footer-block {
	height: 100%;
	max-height: 180px;
	display: flex;
	justify-content: center;
	
	@media (max-width:$md3+px){
		 display: none; 
	}
	&__column {
		flex: 0 0 207px;
		margin: 0px 0px 0px 50px;
		@media (max-width:$md1+px){
			 margin: 0px 0px 0px 20px; 
			 &:first-child{
				 margin: 0px 0px;
				 flex: 0 0 200px;
			 }
		}
		@media (max-width:$md2+px){
			margin: 0px 0px 0px 18px;
		}
	}

	&__logo {
		width: 170px;
		height: 52px;
		@media (max-width:$md2+px){
			width: 143px;
			height: 42px;
			img{
				width: 100%;
				height: 100%;
			}
		}
	}

	
	a{
		font-size: 14px;
		line-height: 17px;
		color: #000;
	}
		
	
	&__title {
		font-weight: 700;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		margin: 0px 0px 20px 0px;
		
	}

	&__mail {
		margin: 10px 0px 0px 0px;
	}

	&__tel {
		margin: 25px 0px 0px 0px;
	}

	&__politics {
		padding: 10px 0px 0px 0px;
		text-decoration: underline;
		cursor: pointer;
	}
	&__legal {
		text-decoration: underline;
	
	}
	&__inn{
		
		margin: 25px 0px 0px 0px;
		
	}
}
.footer-block-social {
	margin: 25px 0px 0px 0px;
	&__item {
		margin: 0px 0px 0px 30px;
		&:first-child{
			margin: 0px 0px;
		}
	}
}

//========================================================================================================================================================

.footer-block-2 {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	
	@media  (max-height: 700px) {
		align-items: flex-start;
	}
	
	@media (min-width:$md3+px){
		 display: none; 
	}
	
	&__column {
		flex: 0 0 148px;
		justify-content: center;
		
		&:last-child{
			margin: 0px 0px 0px 20px;
		}
		@media (max-width:$md3+px){
			 flex: 0 0 180px; 
		}
		@media (max-width:$md4+px){
			 flex: 0 0 160px; 
		}
	}

	&__logo {
		width: 102px;
		height: 30px;
		img{
			width: 100%;
			height: 100%;
		}
	}

	a{
		color: #000;
		font-size: 12px;
		line-height: 14px;
	}
	&__title {
		font-weight: 700;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		margin: 32px 0px 0px 0px;
	}

	&__mail {
		margin: 8px 0px 0px 0px;
	}

	&__tel {
		margin: 16px 0px 0px 0px;
	}

	&__legal{
		margin: 10px 0px 0px 0px;
		text-decoration: underline;
	}
	&__politics {
		text-decoration: underline;
		margin: 16px 0px 0px 0px;
	}

	&__inn {
		margin: 16px 0px 0px 0px;
	}
}
.footer-block-2-social {
	height: 30px;
	&__item {
		margin: 0px 0px 0px 30px;
		&:first-child{
			margin: 0px 0px;
		}
	}

}

//========================================================================================================================================================
.legal{
	position: fixed;
	overflow: auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000B11;
	
	z-index: 15;
	display: none;
	&.active {
		display: block;
	
	}

}
.legal .container{
	max-width: 600px;
	display: flex;
	flex-direction: column;
	height: calc(100% - 78px);

}
.legal-block {
	margin: 120px 0px 0px 0px;
	@media (max-width:$md1+px){
		 margin: 100px 0px 0px 0px; 
	}
	@media (max-width:$md2+px){
		margin: 60px 0px 0px 0px; 
	}
	@media (max-width:$md3+px){
		margin: 30px 0px 0px 0px; 
	}
	&__header {
		min-height: 78px;
		background-color: #000B11;
		width: 100%;
	}

	&__title {
		font-weight: 700;
		font-size: 40px;
		line-height: 50px;
		text-align: center;

		@media (max-width:$md3+px){
			font-size: 30px;
			line-height: 37px;
			text-align: left;
		}
	}

	&__text {
		margin: 50px 0px 0px 0px;
		font-size: 16px;
		line-height: 21px;
		@media (max-width:$md3+px){
			margin: 10px 0px 0px 0px; 
			font-size: 14px;
			line-height: 150%;
		}
		font-style: italic;
		line-height: 134%;
		a{
			color: #15A5F4;
		}
	}

	&__row {
		display: flex;
		margin: 100px 0px 0px 0px;
		@media (max-width:$md3+px){
			 margin: 60px 0px 0px 0px; 
		}
	}
}

.legal-block-column {
	
	flex: 1 1 50%;
	@media (max-width:$md3+px){
		&:last-child{
		
			
		}
	}
	&__title {
		font-weight: bold;
		line-height: 21px;
		margin: 50px 0px 0px 0px;
		@media (max-width:$md3+px){
			font-size: 14px;  
		}
		&:first-child{
			margin: 0px 0px;
		}
	}

	&__text {
		margin: 10px 0px 0px 0px;
		line-height: 21px;
		@media (max-width:$md3+px){
			font-size: 14px;  
		}
	}

	a{
		display: block;
		color:#15A5F4;
		margin: 10px 0px 0px 0px;
		line-height: 21px;
		@media (max-width:$md3+px){
			font-size: 14px;  
		}
	}
}
.legal-block-bottom-row {
	margin: 150px 0px 0px 0px;
	display: flex;
	justify-content: space-between;
	@media (max-width:$md3+px){
		 flex-direction: column; 
	}
	&__bottom-text {
		font-weight: bold;
		font-size: 12px;
		line-height: 21px;
		cursor: pointer;
		@media (max-width:$md3+px){
			text-align: center;
			margin: 20px 0px 0px 0px;
			&:first-child{
				margin: 0px 0px 0px 0px;
			}
	   }
	}
}
.legal-block-bottom-text {
	font-size: 12px;
	line-height: 21px;
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
	margin: 50px 0px 50px 0px;
	
}


//========================================================================================================================================================


.info-block {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 15;
		background-color: #fff;
		color: #000;
		overflow: auto;
		overflow-x: hidden;
		.container{
			overflow: hidden;
		}

	&__title {
		max-width: 580px;
		font-weight: 700;
		font-size: 40px;
		line-height: 50px;
		margin: 100px 0px 0px 0px;
		@media (max-width:$md3+px){
			font-size: 22px;
			line-height: 27px;
		}
	}

	&__text{
		margin: 30px 0px 0px 0px;
		max-width: 680px;
		font-size: 18px;
		a{
			text-decoration: underline;
		}
		span{
			font-weight:700;
		}
		@media (max-width:$md3+px){
			 font-size: 14px; 
		}
		line-height: 160%;
	}

	&__content {
		margin: 50px 0px 0px 0px;
		max-width: 780px;
		overflow: hidden;
		
	}

	&__button {
		width:373px;
		height:69px;
		border-radius: 10px;
		font-size: 18px;
		font-weight: normal;
		margin: 50px 0px 0px 0px;
		padding: 20px 30px;
		@media (max-width:$md3+px){
			width:100%;  
		}
	}	

	&__requisites{
		margin: 30px 0px 0px 0px;
		font-size: 18px;
		line-height: 29px;
		@media (max-width:$md3+px){
			 margin: 20px 0px 0px 0px; 
			 font-size: 14px;
		}
		span{
			font-weight: 700;

		}
		a{
			color: #000;
		}
	}

	
	ol {
		/* убираем стандартную нумерацию */
		list-style: none;
		/* Идентифицируем счетчик и даем ему имя li. Значение счетчика не указано - по умолчанию оно равно 0 */
		counter-reset: li;
		font-size: 18px;
		@media (max-width:$md3+px){
			 font-size:14px; 
		}
		li{
			margin: 50px 0px 0px 0px;
			font-weight: 700;
			&._first{
				margin: 0px 0px 0px 0px;
			}
			ol{
				font-weight: normal;
				
				li{
					font-weight: normal;
					margin: 30px 0px 0px 0px;
					line-height: 160%;
					
					@media (max-width:$md3+px){
						 margin: 20px 0px 0px 0px; 
					}
				}
			}
		}

	 }
	 
	 li:before {
		/* Определяем элемент, который будет нумероваться — li. Псевдоэлемент before указывает, что содержимое, вставляемое при помощи свойства content, будет располагаться перед пунктами списка. Здесь же устанавливается значение приращения счетчика (по умолчанию равно 1). */
		counter-increment: li;
		/* С помощью свойства content выводится номер пункта списка. counters() означает, что генерируемый текст представляет собой значения всех счетчиков с таким именем. Точка в кавычках добавляет разделяющую точку между цифрами, а точка с пробелом добавляется перед содержимым каждого пункта списка */
		content: counters(li, ".") ". ";
		font-weight: 700;
	 }
}

.info-block-footer {
	margin: 150px 0px 0px 0px;
	background-color: #000B11;
	color: #fff;
	padding: 50px 0px 60px 0px;
	@media (max-width:$md3+px){
		 margin: 100px 0px 0px 0px; 
		 padding: 40px 0px 50px 0px;
	}
		&__row {
			
			display: flex;
			max-width: 576px;
			margin: 0 auto;
			justify-content: space-between;
			@media (max-width:$md3+px){
				 flex-direction:column; 
			}
		}

		&__item {
			font-weight: 700;
			font-size: 12px;
			line-height: 21px;
			text-align: center;
			@media (max-width:$md3+px){
				 margin: 20px 0px 0px 0px; 
				 &:first-child{
					 margin: 0px 0px 0px 0px;
				 }
			}
		}

		&__bottom-text {
			margin: 50px 0px 0px 0px;
			font-size: 12px;
				line-height: 21px;
				text-align: center;
				color: rgba(255, 255, 255, 0.5);

		}
}

.politics-block {
	&.active{
		display: block;
	}
}

.agreement-block{
	&.active{
		display: block;
	}
}

.contract-block{
	&.active{
		display: block;
	}
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
