//====================================================================================================

.header {
    max-height: 155.4px;
    border-bottom: 1px solid #10ABBD;
    position: relative;
    &__row {

    }

}

.header-block {
    width: 100%;
    height: 100%;
    display: flex;

}
.header-block-logo {
    padding: 22.4px 0px 40px 0px;
    max-width: 480px;
    font-size: 18px;
    flex-wrap: wrap;
    display: flex;
    color: #10ABBD;
    font-weight: 700;
    justify-content: center;
    &__img {
        width: 475px;
        height: 61px;
        img{
            
        }
    }

    &__text {
        margin: 7.1px 0px 0px 0px;
    }
}
.header-block-text {
    display: flex;
    flex-wrap: wrap;
    @include adaptiv-value("margin-left",76 ,50 ,0 );
    padding: 22.4px 0px 40px 0px;

    &__top {
        display: flex;
        align-self: flex-start;
        
    }

    &__langs {
        display: flex;
        max-height: 32.69px;
    }

    &__lang {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 4px 8px 4px 13px;
        margin: 0px 13px 0px 0px;
        border-radius: 2px;
        font-family: Montserrat;
        font-size: 16px;
        img{
            margin: 0px 0px 0px 9px;
        }
        &:last-child{
            margin: 0;
        }
        &.active {
            background-color: #EAEAEA;
            box-shadow: inset 0 0 4px 0px rgba($color: #000, $alpha: 0.25);
        }
    }

    &__numbers {
        color: #565656;
        position: relative;
        line-height: 26px;
        margin: -2px 0px 0px 41.5px;
        font-size: 20px;
        font-weight: 500;
        text-align: right;
        &::before{
            content:'';
            position: absolute;
            top: 0;
            left: -25px;
            width: 22.3px;
            height: 22.3px;
            background: url(../img/social/whatsapp.png) 0 0 / cover no-repeat;
        }
    }

    &__links {
        display: flex;
        align-self: flex-end;

    }

    &__link {
        position: relative;
        font-size: 19px;
        font-weight: 500;
       text-decoration: underline;
        a{
            &::before{
                position: absolute;

                width:25px;
                
            }
             color: #0B8491; 
        }
    }

    &__main {
        &::before{
            content:'';
        }
    }

    &__about {
        &::before{
            content:'';
        }
    }

    &__yachts {
        &::before{
            content:'';
        }
    }

    &__contact {

        &::before{
            content:'';

        }
    }

    &__call {
        &::before{
            content:'';
        }
    }
}


//====================================================================================================

