//<ОСНОВНОЙ БЛОК>====================================================================================================

.link-main {
	margin: 0px 0px 0px 25px;
	&::before{
		content:'';
		
		left: 0;
		height: 100%;
		background: url(../img/icons/links/main.svg) center / contain no-repeat;
	}
	&__w{
		&::before{
			content:'';
			background: url(../img/icons/links/white/main.svg) center / contain no-repeat;
		}
	}
}

.link-about {
	margin: 0px 0px 0px 44px;
	
	&::before{
		content:'';
		background: url(../../img/icons/links/about.svg) center / contain no-repeat;
		height: 100%;
		margin: 0px 0px 0px -23px;
	}
	&__w{
		&::before{
			content:'';
			background: url(../../img/icons/links/white/about.svg) center / contain no-repeat;
		}
	}
}

.link-yachts {
	margin: 0px 0px 0px 54px;
	&::before{
		content:'';
		background: url(../img/icons/links/yachts.svg) center / contain no-repeat;
		height: 100%;
		margin: 0px 0px 0px -30px;
	}
	&__w{
		&::before{
			content:'';
			background: url(../img/icons/links/white/yachts.svg) center / contain no-repeat;
		}
	}
}

.link-contact {
	margin: 0px 0px 0px 50px;
	&::before{
		content:'';
		background: url(../img/icons/links/contact.svg) center / contain no-repeat;
		height: 100%;
		margin: 0px 0px 0px -29px;
	}
	&__w{
		&::before{
			content:'';
			background: url(../img/icons/links/white/contact.svg) center / contain no-repeat;
		}
	}
}

.link-call {
	margin: 0px 0px 0px 45px;
	&::before{
		content:'';
		background: url(../img/icons/links/call.svg) center / contain no-repeat;
		height: 100%;
		margin: 0px 0px 0px -27px;
	}
	&__w{
		&::before{
			content:'';
			background: url(../img/icons/links/white/call.svg) center / contain no-repeat;
		}
	}
}

.capacity {
	padding: 0px 0px 0px 40px;
		line-height: 21px;
		position: relative;

		&::before{
			content:'';
			position: absolute;

			left: 3px;
			bottom: -2px;
			width: 29px;
			height: 34px;
			background: url(../img/icons/human.svg) center no-repeat;
		}
}

.h {
		padding: 0px 0px 0px 40px;
		line-height: 21px;
		position: relative;
		&::before{
			content:'';
			position: absolute;

			left: 0;
			width: 36px;
			height: 29px;
			background: url(../img/icons/h.svg) center no-repeat;
		}
}

.w {
		padding: 0px 0px 0px 50px;
		position: relative;
		&::before{
			content:'';
			position: absolute;
			left: 0;
			width: 45px;
			top: 2px;
			height: 13.9px;
			background: url(../img/icons/w.svg) center no-repeat;
		}
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================

//</ГОТОВЫЕ КЛАССЫ>====================================================================================================
