//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";

//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
/** Open Sans **/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
/** Gotham **/
@font-face {
	font-family: 'gotham';
	src: url('../fonts/gotham/gotham_bold.eot');
	src: local('☺'), url('../fonts/gotham/gotham_bold.woff') format('woff'), url('../fonts/gotham/gotham_bold.ttf') format('truetype'), url('../fonts/gotham/gotham_bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'gotham';
	src: url('../fonts/gotham/gotham_medium.eot');
	src: local('☺'), url('../fonts/gotham/gotham_medium.woff') format('woff'), url('../fonts/gotham/gotham_medium.ttf') format('truetype'), url('../fonts/gotham/gotham_medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'gotham';
	src: url('../fonts/gotham/Gotham-Book.eot');
	src: local('☺'), url('../fonts/gotham/Gotham-Book.woff') format('woff'), url('../fonts/gotham/Gotham-Book.ttf') format('truetype'), url('../fonts/gotham/Gotham-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily:'gotham';


//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$maxWidth: 1600;
$mw: 1200;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
html{

}
body {
	background-color: #222222;
	color: #fff;
	font-size: 15px;
	&.lock {
		overflow: hidden;
	}
	
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
	

}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
 @import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
//@import "popup.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

.features {
	background-color: #11749e;
}
.features-top {
		height: 200px;
		&__logo {
			margin: 0 auto;
			top: 50%;
			@include adaptiv-value("height",172, 90, 1);
			background-size: contain;
			padding: 1px;

			img {
				object-fit: contain;
			}
		}

}
.features-bottom {
	//background-color: #000;
	background-color: #11749e;
	padding: 180px 0px 130px 0px;
	@media (max-width:$md2+px){
		padding: 140px 0px 100px 0px;
	}
	@media (max-width:$md3+px){
		padding: 110px 0px 100px 0px;  
	}

		&__row {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			@media (max-width:$md3+px){
				 display: block; 
			}
			
		}
		
}
.features-bottom-item {
		display: flex;
		flex-wrap: wrap;
		flex: 0 0 265px;
		justify-content:center;
		margin: 0px 0px 100px 0px;
		@media (max-width:$md1+px){
			 flex: 0 0 50%; 
		}
		@media (max-width:$md3+px){
			 flex: 0 0 100%; 
			 margin: 0px 0px 50px 0px;
		}

		&__logo {
			// width: 133px;
			// height: 133px;
			height:calc(100px + 33 * (100vw / 1600));
			width:calc(100px + 33 * (100vw / 1600));

			border-radius: 50%;
			
			background-color: #2e85aa;
			display: flex;
			justify-content:center;align-items: center;

			
			img {
				height: 34px;
				width: 34px;
			}
		}
		

		&__titlle {
			width: 100%;
			text-align: center;
			margin: 23px 0px 0px 0px;
			font-size: 18px;
			font-weight: 500;
			text-transform:uppercase;
			@media (max-width:$md3+px){
				margin: 15px 0px 0px 0px;
			}
		}

		&__text {
			margin: 31px 0px 0px 0px;
			text-align: center;
			max-width: 265px;
			line-height:24px;
			@media (max-width:$md3+px){
				 margin: 20px 0px 0px 0px; 
			}
		}
}


//====================================================================================================

.news {

	&__row {
		display: flex;
		flex-wrap: wrap;
		
	}

	&__img {
		width: 50%;
		@media (max-width:$md3+px){
			 width: 100%; 
			 height: 380px;

		}
	}
}
.news-article {
	
	width:50%;
	padding: 80px 20px 100px 20px;
	
	&._l{
		padding-left:calc((100vw - 1200px)/2);
		@media (max-width:$md1+px){
			padding-left: calc((100vw - 970px)/2); 
		}
		@media (max-width:$md3+px){
			padding-left:8px;
		}
		
	}
	
	&._r{
	
		background-color: #f3f3f3;
		color: #000;
		display: flex;
		justify-content: end;
		padding-right: calc((100vw - 1200px)/2);
		@media (max-width:$md1+px){
			padding-right: calc((100vw - 970px)/2);
		}
		
		@media (max-width:$md3+px){
			order: -1; 
			padding-left:8px;
			justify-content: center;
		}
	}
	@media (max-width:$md2+px){
		padding: 80px 20px 100px 20px;
	}
	@media (max-width:$md3+px){
		width: 100%; 
		display: flex;
		justify-content: center;
		padding: 50px 0px 50px 0px;
   }
	
	&__item {
		max-width:475px;
		
	}

	&__date {
		font-size: 13px;
		line-height:24px;
	}

	&__title {
		margin: 10px 0px 0px 0px;
		font-weight: 500;
		font-size:25px;
		line-height:35px;
		text-transform: uppercase;
	}

	&__text {
		margin: 31px 0px 0px 0px;
		line-height: 24px;
		p{
			margin: 0px 0px 22px 0px;
			&:last-child{
				margin: 0px 0px 0px 0px;
			}
		}
	}
}

//====================================================================================================

.blog {
	background-color: #ffffff;
	padding: 90px 0px 100px 0px;
}
.blog-head {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
		&__logo {
			width: 100%;
			text-align:center;
			margin: 0 auto;
			
			@include adaptiv-value("height",180 ,120,1 );
			
			img {
				//222/176
				object-fit: contain;
			
			}
		}

		&__title {
			//font-size: 30.1px;
			font-size: calc(18px + 12.1 * (100vw / 1600));
			margin: 35px 0px 0px 0px;
			line-height: 37px;
			color: #222222;
			text-align: center;
		}
}
.blog-body {
		width: 100%;
		
		&__row {
			margin: 75px 0px 0px 0px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			@media (max-width:$md3+px){
				 display: block;

			}
		}
}

.blog-body-item {
	width: 270px;
	text-align: center;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;

	
	@media (max-width:$md1+px){
		flex: 0 0 50%; 
		margin: 0 auto 100px auto;
			&:last-child{
				margin: 0 auto 0px auto; 
			}
	}
		&__img {
			width: 270px;
			height: 270px;
			img{
				object-fit: cover;	
			}	
		}


		&__title {
		
			margin: 38px 0px 0px 0px;
			@media (max-width:$md1+px){
				margin: 20px 0px 0px 0px;
			}
		font-size: 18px;
		line-height: 36px;
		font-weight: 500;
		text-transform: uppercase;
		color: #11749e;
		
		}

		&__text {
			max-width: 270px;
			margin: 24px 0px 0px 0px;
			@media (max-width:$md1+px){
				margin: 10px 0px 0px 0px;  
			}
			

			line-height: 24px;
			color: #222222;
		}
}

//====================================================================================================

.design {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	&__bg{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		z-index: -1;
	}
}
.design-block {

		flex: 0 0 50%;
		padding-left:calc((100vw - 1200px)/2);

		@media (max-width:$md1+px){
			padding-left: calc((100vw - 970px)/2); 
		}
		@media (max-width:$md2+px){
			flex: 1 1 100%;
			padding: 0;
			display: flex;
			justify-content: center;
		}
		@media (max-width:$md3+px){
			 flex: 0 0 100%; 
			 display: flex;
			 justify-content: center;
		}
		
		
		&__item {
			margin: 228px 0px 0px 20px;
			max-width: 474px;
			@media (max-width:$md2+px){
				margin: 120px 0px 0px 0px;
				display: flex;
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
			}
			@media (max-width:$md3+px){
				margin: 100px 8px 0px 8px;
				max-width: 100%; 

			}
		}

		&__title {
			font-size: 25px;
			line-height: 36px;
			font-weight: 500;
			text-transform: uppercase;
			@media (max-width:$md2+px){
				font-size: 23px;
			}
		}

		&__text {
			margin: 38px 0px 0px 0px;
			line-height: 24px;
			@media (max-width:$md2+px){
				font-size: 15px;
			}
		}
}
.design-block-bands {
		margin: 65px 0px 0px 0px;
		@media (max-width:$md2+px){
			 display: flex;
			 flex-wrap: wrap;
			 justify-content: center;
			max-width: 450px;
		}
		&__band {
			margin: 0px 0px 24px 0px;
			display: flex;
			align-items: center;
			background-color: #11749e;
			padding: 0 18px;
			height: 38px;

			@media (max-width:$md2+px){
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				
			}
			&:nth-child(1) {
				// width: 370px;
				width: calc(242px + 128 * (100vw / 1600));
			}
			&:nth-child(2) {
				// width: 400px;
				width: calc(274px + 128 * (100vw / 1600));
			}
			&:nth-child(3) {
				// width: 428px;
				width: calc(300px + 128 * (100vw / 1600));
			}
			
		}
}
.design-phone {
	padding: 125px 0px 95px 0;
	padding-left: calc(0px + 150 * (100vw / 1600));
	@media (max-width:$md2+px){
		flex: 1 1 100%;
		padding: 125px 0px 95px 0;
		text-align: center;
	}
	
	@media (max-width:$md3+px){
		padding: 90px 0px 95px 0;

	}
	
		&__img {
			img{
				@media (max-width:$md3+px){
					width: 350px;
				
			   }
			}
			
			
		}
}

//====================================================================================================

.team {
	background-color: #fff;
	color: #000;

}
.team-head {

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 65px 0px 0px 0px;
		&__logo {
			width: 100%;
			text-align:center;
			margin: 0 auto;
			@include adaptiv-value("height", 180,120,1);
			background-size: contain;
			img{
				object-fit: contain;
			}
		}
		&__text{
			width: 100%;
			text-align: center;
			margin: 60px 0px 0px 0px;
			font-size: calc(25px + 5 * (100vw / 1600));

			line-height: 37px;
			padding: 0px 8px;
		}
}
.team-body {
	padding: 65px 0px 125px 0px;
	@media (max-width:$md1+px){
		 padding-bottom: 25px; 
	}
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
		&__row {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}
}

.team-body-item {
		flex: 0 0 275px;
		display: flex;
		justify-content: center;
		position: relative;
		height: 410px;

		@media (max-width:$md1+px){
			margin: 0 auto 100px auto;
			flex: 0 0 50%;
		}
		@media (max-width:$md3+px){
			flex: 0 0 100%;

		}
		
	
		img{
			position: absolute;
			max-width: 275px;
			width: 100%;
			height: 100%;
			object-fit: cover;
			left: auto;
			right: auto;
		}
		

		&__text {

			position: absolute;
			text-align: center;
			bottom: -20px;
			margin: 0 auto;
			background-color: #fff;
			width: 215px;
			 
			height: 65px;
			z-index: 10;

			._title{
				width: 100%;
				font-size: 20px;
				color: #11749e;
				margin: 20px 0px 0px 0px;
			}
			._text{
				width: 100%;
				font-weight: 500;
				margin: 9px 0px 0px 0px;
			}
		}
}

//====================================================================================================

.contacts {
position: relative;
@include adaptiv-value("padding-top",130 , 40, 0);
@include adaptiv-value("padding-bottom",100 ,50 ,0 );
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		
		img{

		}
	}
}
.contacts-logo {
	width: 100%;

	&__img	{

		@include adaptiv-value("height", 190, 120,1);
		img{
			object-fit: contain;
		}
	}
}

.contacts-body {
	@include adaptiv-value("margin-top", 70, 20, 1);
	&__row {

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
.contacts-body-form {

	&__item {
		flex: 0 1 370px;
		margin: 0px 0px 38px 0px;
		display: flex;
		justify-content: center;
		@media (max-width:$md1+px){
			 flex: 1 1 100%; 
		}
	}
}







//</ОСНОВНОЙ БЛОК>====================================================================================================
