
//! ************* CCS RESET ************* //
* {
margin:0;
padding:0;
border:0;
}
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/* Выставляем основные настройки по-умолчанию для html,body */
html,body {
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
}
/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}
/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//! ************* ************* //

:root {
    --blue: #0d6efd;
    --button-hover:#1a59d9;
    --secondary: #9B51E0;
    --gray: #6c757d;
    --gray-dark: #343a40;
}
html, body {
    font-family: 'Source Sans Pro',"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 15px;
}
a{
  transition: all 0.3s ease;
}
a {
  &:not(.btn-pirmary) {
    &:hover{
      color: var(--blue);
    }
  }
}

.container {
  @media (max-width:768px){
    max-width: 100%;
      
  }
}
.header {
  background-color: #fff;
    padding-top: 10px;
    font-size: 1rem;
    font-weight: 600;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #263555;
    box-shadow: 0 2px 20px 0px rgba(0,0,0, 0.2);
		&__logo {
            max-width: 150px;
		}
        &__nav {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
        }
        &__nav-list {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
                & li {
            }

            @media (max-width: 768px){
              display: none;
          }
        }
        &__menu-burger {
          
        }

		&__nav-item {
            margin: 0px 0px 0px 20px;
            & a {
                color: #263555;
            }
		}
        & .btn-pirmary {
            padding: 17px;
            height: 30px;
            font-weight: 500;
        }
}

//========================================================================================================================================================

.title {
  padding: 110px 0px 20px 0px;
  &__text {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__subtext {
    // font-size: 1.1rem;
    // font-weight: 600;
    line-height: 140%;
    
  }
}


//========================================================================================================================================================

.slider {
  background: #F7F8FA;
  width: 100%;
  &__block {
    width: 100%;
    height: 100%;
    padding: 40px 0;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
  }

  &__slide {
    width: 100%;
    height: 100%;
  }

  &__container {
    height: 100%;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__column {
    flex: 0 1 50%;
    display: flex;
    flex-wrap: wrap;
  }

  &__upcoming {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--secondary);
    width: 100%;
    margin-bottom: 50px;
  }

  &__title {
    font-size: 2.3rem;
    font-weight: 700;
  }

  &__text {
    color: var(--gray-dark);
    line-height: 140%;
    font-weight: 600;
    margin: 30px 0px 0px 0px;
  }

  &__button {
    margin: 40px 0px 0px 0px;

  }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.image-card {
  width: 280px;
  box-shadow: 0 10px 50px 0px rgba(0,0,0, 0.2);
  &__img {
    height: 280px;
    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text-block {
    background-color: #fff;
    padding: 30px;
  }

  &__title {
    font-size: 1.2rem;
    font-weight:700;
  }

  &__text {
    margin-top: 5px;
    line-height: 110%;
    color: var(--secondary);
    font-weight: 600;
  }
}
.slider-date {
  display: flex;
  width: 100%;
  margin: 30px 0px 0px 0px;
  align-items: center;
  &__icon {
    width: 30px;
    height: 30px;
    & svg {
      width: 100%;
      height: 100%;
      fill: var(--secondary);
    }
  }

  &__text {
    margin: 0px 0px 0px 20px;
    font-size: 1.1rem;
    font-weight: 800;
  }
}
.button-primary {
}
.swiper-pagination {
}
.swiper-button-prev, .swiper-button-next {
  background-color: rgba(255,255,255, 0.5);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  & svg {
    width: 40px;
    height: 40px;
  }
}
.swiper-button-disabled {

  & svg {
  }
}
.swiper-scrollbar {
}


//========================================================================================================================================================


.btn-pirmary{
    background-color: var(--blue);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    & a{
        color: #fff;
    }
    &:hover{
      text-decoration: none; color: white ; background-color: var(--button-hover);
    }
}